.ipynb_checkpoints/
__pycache__/
0_augmentation_experiments/
0_ocean_experiments/
0_improvement_experiments/
feature_extractor/
labels/
logs/
metadata/
models/
models_results/
tests/
wandb/
*.chkpt
*.pkl
*.out
*.csv
