.ipynb_checkpoints/
__pycache__/
augmentation_experiments/
datasets/
feature_extractor/
improvement_experiments/
labels/
logs/
metadata/
models/
models_results/
tests/
wandb/
*.chkpt
*.pkl
*.out
*.csv
